/* Write your CSS here */
.team-card-container {
  display: flex;
  border-style: solid;
  border-width: 2px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  margin: 10px;
  border-color: #475569;
  width: 34vw;
  padding: 10px;
}

.team-image-size {
  height: 100px;
}

@media screen and (max-width: 767px) {
  .team-image-size {
    height: 50px;
  }
}

.team-name {
  font-size: 15px;
  font-family: 'Bree-Serif';
  color: white;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .team-name {
    font-size: 28px;
  }
}

.link-style {
  text-decoration: none;
}
